.Polaris-Page{max-width: none !important;}
/* .red .Polaris-IndexTable__TableRow{
    background-color: red !important;
}

.yellow .Polaris-IndexTable__TableRow {
    background-color: yellow !important;
}
.green .Polaris-IndexTable__TableRow {
    background-color: green !important;
} */